<div class='container'>
  <div class='row text-center'>
    <div class="col pt-2 pb-4">
      <h1 class="font-weight-bold">プロフィール編集</h1>
    </div>
  </div>
  <div class='row text-center'>
    <div class="col">
      <%= form_with(model: @end_user, url: end_user_update_path(@end_user.id), method: :patch, local:true) do |end_user| %>
        <div>プロフィール画像</div>
        <div>
          <%= end_user.file_field :user_image, accept: "image/*" %>
        </div>
        <div>ニックネーム</div>
        <div>
          <%= end_user.text_field :name %>
        </div>
        <div>年齢</div>
        <div>
          <%= end_user.select :age, [['10歳未満'], ['10代'], ['20代'], ['30代'], ['40代'], ['50代'], ['60歳以上']], { include_blank: true, selected: current_end_user.age } %>
        </div>
        <div>性別</div>
        <div>
          <%= end_user.select :sex, [['男性'], ['女性']], { include_blank: true, selected: current_end_user.sex } %>
        </div>
        <div>エリア</div>
        <div>
          <%= end_user.text_field :area_id %>
        </div>
        <div>ホームポイント</div>
        <div>
          <%= end_user.text_field :home %>
        </div>
        <div>種目</div>
        <div>
          <%= end_user.text_field :type_id %>
        </div>
        <div>スタンス</div>
        <div>
          <%= end_user.select :stance, [['レギュラー'], ['グーフィー']], { include_blank: true, selected: current_end_user.stance } %>
        </div>
        <div>サーフィン歴</div>
        <div>
          <%= end_user.text_field :history %>
        </div>
        <div>自己紹介</div>
        <div>
          <%= end_user.text_area :introduction, size: "40x5" %>
        </div>
        <div>
          <%= end_user.submit '更新' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
