<div class='container'>
  <div class='row text-center'>
    <div class="col pt-2 pb-4">
      <h3 class="font-weight-bold">記録の編集</h3>
    </div>
  </div>
  <div class='row text-center'>
    <div class="col">
      <%= form_with(model: @training_post, url: training_posts_update_path(@training_post.id), method: :patch, local:true) do |training_post| %>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">練習日</em>
          <div class="pt-2">
            <%= training_post.date_field :date %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">練習時間</em>
          <div class="pt-2">
            <em class="font-weight-bold text-secondary bg-light">開始</em>
              <%= training_post.time_field :start_time %>
            <em class="font-weight-bold text-secondary bg-light">終了</em>
              <%= training_post.time_field :end_time %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">ラウンド</em>
          <div class="pt-2">
            <%= training_post.text_field :round, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">エリア</em>
          <div class="pt-2">
            <%= training_post.collection_select(:area, @areas, :name, :name, include_blank: '--選択してください--' ) %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">ポイント</em>
          <div class="pt-2">
            <%= training_post.text_field :point, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">天気</em>
          <div class="pt-2">
            <%= training_post.text_field :weather, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">風向き</em>
          <div class="pt-2">
            <%= training_post.text_field :wind, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">コンディション</em>
          <div class="pt-2">
            <%= training_post.select :condition, [['Excellent'], ['Good'], ['Fun'], ['Average'], ['Hard'], ['Bad']], { include_blank: '--選択してください--' } %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">波サイズ</em>
          <div class="pt-2">
            <%= training_post.text_field :size, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">人数</em>
          <div class="pt-2">
            <%= training_post.text_field :people, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">使用ボード</em>
          <div class="pt-2">
            <%= training_post.text_field :board, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">着用ウェットスーツ</em>
          <div class="pt-2">
            <%= training_post.collection_select(:wetsuit, @wetsuits, :name, :name, include_blank: '--選択してください--') %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">テイクオフ回数</em>
          <div class="pt-2">
            <%= training_post.text_field :take_off, size: "40" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">画像選択</em>
          <div class="pt-2">
            <%= training_post.file_field :post_image, accept: "image/*" %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">NOTE</em>
          <div class="pt-2">
            <%= training_post.text_area :body, size: "50x10" %>
          </div>
        </div>
        <div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">タグ</em>
          <div class="form-group pt-2">
            <%= training_post.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="pb-3">
          <em class="font-weight-bold text-secondary bg-light">公開設定</em>
          <div  class="pt-2">
            <span class="p-2">
              <%= training_post.label :is_active, "公開", value: true %>
              <%= training_post.radio_button :is_active, 'true' %>
            </span>
            <span class="p-2">
              <%= training_post.label :is_active, "非公開", value: false %>
              <%= training_post.radio_button :is_active,'false' %>
            </span>
          </div>
        </div>
        <div class="p-3">
          <span><%= training_post.submit '更新', class:"btn btn-success btn-lg" %></span>
        </div>
      <% end %>
    </div>
    <div class="pb-4 text-left ml-2">
    <%= link_to my_page_path(current_end_user.id) do %>
      <span><i class="fas fa-share"></i></span>
      <span>マイページに戻る</span>
    <% end %>
    </div>
  </div>
</div>
