<div class="container">
  <div class="row text-center">
    <div class="col pt-2 pb-4">
      <h3 class="font-weight-bold">みんなの記録</h3>
    </div>
  </div>
  <div class="row d-flex">
    <div class="row d-flex flex-column">
      <div class="col">
      <div class="col search_form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <div class="py-1"><%= f.text_field :word %></div>
          <div class="pb-3"><%= f.submit "キーワード検索" %></div>
        <% end %>
      </div>
      <div class="col search_tag">
        <%= form_with url: training_posts_index_path, local: true, method: :get do %>
          <% Tag.all.each do |tag| %>
            <li class="list-unstyled">
              <%= check_box :tag_ids, tag.name %> #<%= tag.name %>
            </li>
          <% end %>
          <div class="pt-1 pb-5">
            <%= submit_tag 'タグ検索' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-9 text-center d-flex ml-3 pb-5">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>エリア／ポイント</th>
            <th>コンディション</th>
            <th>投稿者</th>
            <th></th>
            <th colspan="6"></th>
          </tr>
        </thead>
        <tbody>
          <% @training_posts.each do |training_post| %>
            <tr>
              <td>
                <%= link_to training_post_path(training_post.id) do %>
                  <%= image_tag training_post.get_post_image(100,100) %>
                <% end %>
              </td>
              <% if training_post.point == "" %>
                <td><%= training_post.area %></td>
              <% else %>
                <td><%= training_post.area %>／<%= training_post.point %></td>
              <% end %>
              <td><%= training_post.condition %></td>
              <td>
                <%= link_to my_page_path(training_post.end_user.id) do %>
                  <span class="text-info"><%= training_post.end_user.name %></span>
                <% end %>
              </td>
              <td>
                <span><i class="fas fa-thumbs-up"></i></span>
                <span><%= training_post.fights.count %></span>
              </td>
              <td>
                <span><i class="fas fa-comment-dots"></i></span>
                <span><%= training_post.training_post_comments.count %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
