<div class="container">
  <div class="row text-center d-flex flex-column">
    <div class="col">
      <h3><%= @training_post.date %>の<%= @end_user.name %>さんの記録</h3>
    </div>
    <% if @end_user == current_end_user %>
    <div class="col">
      <span>公開設定：</span>
      <% if @training_post.is_active == true %>
        <span class="text-success">公開中</span>
      <% else %>
        <span class="text-danger">非公開設定中</span>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row text-center py-2">
    <div class="col">
      <%= image_tag @training_post.get_post_image(400,300) %>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-4 pr-0">
      <table class="table table-bordered table-sm">
        <tr>
          <th class="table-primary">練習日時</th>
          <td>
            <%= @training_post.date %>
            &nbsp;
            <%= @training_post.start_time.strftime("%H:%M") %>
            〜
            <%= @training_post.end_time.strftime("%H:%M") %>
          </td>
        </tr>
        <tr>
          <th class="table-primary">ラウンド</th>
          <td><%= @training_post.round %></td>
        </tr>
        <tr>
          <th class="table-primary">エリア／ポイント</th>
          <td><%= @training_post.point %></td>
        </tr>
        <tr>
          <th class="table-primary">天気</th>
          <td><%= @training_post.weather %></td>
        </tr>
        <tr>
          <th class="table-primary">風向き</th>
          <td><%= @training_post.wind %></td>
        </tr>
      </table>
    </div>
    <div class="col-4 pl-0">
      <table class="table table-bordered table-sm">
        <tr>
          <th class="table-primary">コンディション</th>
          <td><%= @training_post.condition %></td>
        </tr>
        <tr>
          <th class="table-primary">波サイズ</th>
          <td><%= @training_post.size %></td>
        </tr>
        <tr>
          <th class="table-primary">人数</th>
          <td><%= @training_post.people %></td>
        </tr>
        <tr>
          <th class="table-primary">使用ボード</th>
          <td><%= @training_post.board %></td>
        </tr>
        <tr>
          <th class="table-primary">ウェットスーツ</th>
          <td><%= @training_post.wetsuit%></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table table-bordered table-sm">
        <thead class="table-primary text-center">
          <tr>
            <th scope="col">MEMO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @training_post.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center justify-content-center pb-3">
    <div class="col-4 pr-0">
       <% @training_post.tags.each do |tag| %>
        <span class="bg-secondary text-white">#<%= tag.name %></span>
      <% end %>
    </div>
  </div>
  <% if @training_post.end_user != current_end_user %>
  <div class="row text-center justify-content-center pb-3">
    <div id="fights_<%= @training_post.id %>">
      <%= render 'public/fights/fight', training_post: @training_post %>
    </div>
  </div>
  <% else %>
  <div class="row text-center justify-content-center pb-3">
    <div class="col-4">
      <!-- 応援ボタン -->
      <button class="btn" data-toggle="modal" data-target="#fight-pushed-user">
        ♥<%= @training_post.fights.count %>
      </button>
      <!-- 応援ユーザー表示ポップアップ -->
      <div class="modal fade" id="fight-pushed-user" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-header-col mx-auto">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <%= @end_user.name %>さんを応援しているユーザー
                </h5>
              </div>
              <div class="modal-header-col">
                <button type="button" class="close button-outline" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="modal-body">
              <% @fights.each do |fight| %>
              <div>
                <%= image_tag fight.end_user.get_user_image(40,40) %>
                <%= fight.end_user.name %>
              </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 btn btn-success">
    <%= link_to "記録を編集する", training_posts_edit_path(@training_post) %>
    </div>
    <div class="col-2 btn btn-danger">
    <%= link_to "記録を削除する", training_posts_destroy_path(@training_post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    </div>
  </div>
  <% end %>
</div>
