<div class='container'>
  <div class='row text-center'>
    <div class="col pt-2 pb-4">
      <h2 class="font-weight-bold">目標設定</h2>
    </div>
  </div>
  <%= form_with model: @goal, local:true do |goal| %>
  <div class='row text-center flex-column'>
    <div class="col form-group">
      <h4 class="font-weight-bold text-secondary">大目標</h4>
      <h6>あなたが目指す最終目標を設定しましょう！</h6>
      <div>
        <%= goal.text_field :goal, placeholder: "例） CT(チャンピオンシップツアー)出場！", size: "50" %>
      </div>
    </div>
    <div class="col form-group">
      <h4 class="font-weight-bold text-secondary">中目標</h4>
      <h6>最終目標達成に向けた中間目標を設定しましょう！（2つまで）</h6>
      <%= goal.fields_for :immediate_goals, @goal.immediate_goals.build do |immediate_goal| %>
      <div class="pb-2">
        <%= immediate_goal.text_field :goal1, placeholder: "例） ◯月◯日の全日本サーフィン選手権大会出場！", size: "50" %>
      </div>
      <div>
        <%= immediate_goal.text_field :goal2, placeholder: "例） ◯月◯日の支部予選突破！", size: "50" %>
      </div>
      <%= immediate_goal.hidden_field :end_user_id, value: current_end_user.id %>
      <% end %>
    </div>
    <div class="col form-group">
      <h4 class="font-weight-bold text-secondary">小目標</h4>
      <h6>中間目標達成に向けた本日の目標（練習で意識すること）を設定しましょう！（3つまで）</h6>
      <%= goal.fields_for :today_goals, @goal.today_goals.build do |today_goal| %>
      <div class="pb-2">
        <%= today_goal.text_field :goal1, placeholder: "例） コンペの1ヒート15分を意識して練習する", size: "50" %>
      </div>
      <div class="pb-2">
        <%= today_goal.text_field :goal2, placeholder: "例） パワーゾーンを意識する", size: "50" %>
      </div>
      <div>
        <%= today_goal.text_field :goal3, placeholder: "例） プランク30秒×10セット", size: "50" %>
      </div>
      <%= today_goal.hidden_field :end_user_id, value: current_end_user.id %>
      <% end %>
    </div>
    <div class="col form-group">
      <%= goal.submit '設定', class:"btn btn-danger btn-lg" %>
    </div>
  </div>
  <%= goal.hidden_field :end_user_id, value: current_end_user.id %>
  <% end %>
  <div>
    <%= link_to my_page_path(current_end_user.id) do %>
      <span><i class="fas fa-share"></i></span>
      <span>マイページに戻る</span>
    <% end %>
  </div>
</div>
