<div class='container'>
  <div class='row text-center'>
    <div class="col pt-2 pb-4">

      <h2 class="font-weight-bold">管理者ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "管理者メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "管理者パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログイン状態を保持する" %>
          </div>
        <% end %>

        <div class="actions pt-2 pb-3">
          <%= f.submit "ログイン", class:"btn btn-danger" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

    </div>
  </div>
</div>
