  <h2>検索結果 "<%= @word %>"</h2>
    <div class="col-9 text-center d-flex">
      <% @training_posts.each do |training_post| %>
        <%= link_to training_post_path(training_post.id), class: "text-decoration-none" do %>
          <div class="p-4">
            <div><%= image_tag training_post.get_post_image(100,100) %></div>
            <div><%= training_post.point %></div>
            <div><%= training_post.condition %></div>
            <div><%= training_post.size %></div>
          </div>
        <% end %>
      <% end %>
    </div>

