<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand"><span><%#= link_to image_tag('takomomo-logo.png', size: '100x50'), root_path %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if end_user_signed_in? %>
        <li class="mr-3">
          <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "btn btn-outline-primary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "TOP", root_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "MyPage", my_page_path(current_end_user.id), class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "みんなの記録", training_posts_index_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="mr-3">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "TOP", admin_top_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "ユーザー管理", admin_end_users_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "投稿管理", admin_training_post_comments_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
      <% else %>
        <li class="mr-3">
          <%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
        <li class="mr-3">
          <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-outline-secondary rounded-0 p-4" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
